<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Emizen::top_level" title="Emizen" module="Emizen_ExportCatalog" sortOrder="9999" resource="Magento_Backend::content"/>
		<add id="Emizen_ExportCatalog::index_index" title="Export Catalog" module="Emizen_ExportCatalog" sortOrder="9999" resource="Emizen_ExportCatalog::index_index" parent="Emizen::top_level" action="exportcatalog/index/index"/>
	</menu>
</config>
