.cart-container {
	.form-cart {
		.cart.table-wrapper {
			.add-note-quote {
				color: #661d28;
				border-radius: 0;
				font-size: 15px;
			}
		}
		.cart.main.actions {
			.action {
				background: #661d28;
				opacity: 1 !important;
				height: auto;
				padding: 12px 22px;
				font-size: 15px;
				color: #fff;
				border-radius: 0;
				font-weight: 500;
				border-color: #661d28;
			}
		}
		.cart.table-wrapper {
			.actions-toolbar {
				> .action-edit, .action-delete {
					top: -3px;
				}
			}
		}
	}
	.cart-summary {
		.action.primary.checkout {
			background: #661d28;
			opacity: 1 !important;
			padding: 15px 22px !important;
			font-size: 18px !important;
			color: #fff;
			border-radius: 0;
			font-weight: 500;
			border-color: #661d28;
		}
		#block-shipping {
			display: none;
		}
		div#cart-totals {
		    border: none;
		    tr.totals.sub {
			    display: none;
			}
		}
	}
}

.checkout-index-index {
	.checkout-container {
		.authentication-wrapper {
			display: none;
		}
	}
	.checkout-payment-method {
		.payment-option-title {
			padding-bottom: 5px;
			font-size: 15px;
			border-top: 1px solid #661d28;
			@media (min-width: @screen-ipad) and (max-width: @screen-md-ipad) {
				padding-left: 0;
			}
		}
		.payment-option-inner {
			.control {
				textarea {
					border: 1px solid #661d28;
				}
			}
		}
		@media (min-width: @screen-ipad) and (max-width: @screen-md-ipad) {
			.payment-option {
				.payment-option-content {
			    	padding: 0;
			    }
			}
		}
		@media (min-width: @screen-lg-ipad) and (max-width: @screen-start-laptop) {
			.payment-option-content {
				.form-discount {
					width: 350px;
				}
			}
		}
	}
	#checkout-step-payment {
		#co-payment-form {
			.fieldset {
				position: relative;
				.custom_checkout_box {
				    width: 50%;
					margin-bottom: 20px;
					float: right;
					margin-top: -170px;
				    @media (min-width: @screen-ipad) and (max-width: @screen-xl-ipad) {
				    	width: 34%;
				    }
				    @media (min-width: @screen-ipad) and (max-width: @screen-md-ipad) {
				    	width: 100%;
    					padding-bottom: 10px;
				    }
				    @media (max-width: @screen-mobile) {
			            width: 100%;
			            padding-bottom: 10px;
			        }
				    .field.reference-number {
					    margin-bottom: 20px;
					    @media (min-width: @screen-ipad) and (max-width: @screen-md-ipad) {
					    	margin-bottom: 5px;
					    }
					    @media (max-width: @screen-mobile) {
							margin-bottom: 5px;
						}
					    label.label {
						    font-size: 15px;
						    margin-bottom: 5px;
  							display: block;
						}
						.control {
							input {
								height: 42px;
								border: 1px solid #661d28;
							}
						}
					}
					.field.cimage_upload {
						position: relative;
						.label {
							background: #646464;
							color: #fff;
							width: 100%;
							display: block;
							text-align: center;
							padding: 10px 10px;
							font-size: 16px;
						}
						#upload_image {
							position: absolute;
							width: 100%;
							height: 40px;
							font-size: 0;
							opacity: 0;
							top: 0;
							left: 0;
							right: 0;
							cursor: pointer;
						}
						.image-type-text {
							color: #757575;
							margin-top: 5px;
							display: block;
						}
					}
					.custom_field_quote {
						color: #333;
						font-size: 15px;
						display: flex;
						gap: 0 15px;
						span {
							input {
								margin-right: 3px;
							}
						}
						@media (min-width: @screen-ipad) and (max-width: @screen-xl-ipad) { 
							font-size: 11px;
    						gap: 0 8px;
						}
						@media (max-width: @screen-md-ipad) {
							font-size: 13px;
						}
					}
				}
				.new-row-checkout {
					border-top: 1px solid #661d28;
					clear: both;
					.custom_field_quote {
						padding-top: 30px;
						span {
						  	margin-right: 30px;
						  	@media (max-width: @screen-mobile) {
						  		margin-right: 20px;
  								font-size: 12px;
						  	}
						}
					}
				}
				.payment-method-content {
					.actions-toolbar {
						margin-top: -30px;
						@media (max-width: @screen-mobile) {
							margin-top: 20px;
						}
					}
				}
				.extra-informatie {
					color: #661d28;
					font-size: 18px;
					margin-bottom: 5px;
					font-weight: 400;
					letter-spacing: 1px;
				}
			}
		}
	}
	.opc-summary-wrapper {
		.opc-block-summary {
			.totals.sub {
				display: none;
			}
		}
	}
	.new-address-popup {
		.action.action-show-popup {
			background: transparent;
			opacity: 1 !important;
			height: auto;
			padding: 12px 24px;
			font-size: 15px;
			color: #661d28;
			border-radius: 0;
			border-color: #661d28;
		}
	}
	.new-shipping-address-modal, .shipping-address-items {
		.action.primary.action-save-address, .action.action-select-shipping-item {
			background: transparent;
			opacity: 1 !important;
			height: auto;
			font-size: 15px;
			color: #661d28;
			border-radius: 0;
			border-color: transparent;
			padding-right: 0;
		}
		.action.edit-address-link {
			color: #661d28;
			font-weight: 600;
		}
		.modal-footer {
			.action.secondary.action-hide-popup {
		  		color: #661d28;
		  		font-weight: 600;
		  	}
		}
	}
}

.totals.shipping.excl {
	display: none;
}
.checkout-shipping-method {
	.step-title,
	#checkout-shipping-method-load {
		display: none;
	}
}
.checkout-payment-method {
	.payment-option._collapsible {
		.payment-option-title {
		    padding-bottom: 50px;
		    margin-bottom: 20px;
		    padding-top: 30px;
		    @media (min-width: @screen-ipad) and (max-width: @screen-md-ipad) {
		    	padding-bottom: 80px;
		    }
		    @media (max-width: @screen-mobile) {
		    	padding-bottom: 80px;
		    }
		}
	}
	.actions-toolbar {
		.action.primary.checkout {
			background: #661d28;
			border-color: #661d28;
		}
	}
}
#block-summary #co-shipping-method-form,
#onepage-checkout-shipping-method-additional-load,
.opc-block-shipping-information .ship-via {
		display: none;
}
.amasty_quote-cart-index .cart-summary div#quote-details.quote-details fieldset.fieldset.amquote-summary-details {
    margin-top: 0;
}


.amasty_quote-cart-index .cart-summary div#quote-details.quote-details .title {
    display: none;
}

.opc-wrapper {
	.shipping-address-item.selected-item {
		border-color: #661d28;
		&::after {
			background: #661d28;
		}
		a {
			color: #661d28;
		}
	}
	.shipping-address-items {
		font-size: 0;
		display: flex;
		gap: 0 40px;
		height: 100%;
		&.not-selected-item {
			border: 2px solid #ccc;
			a {
				color: #661d28;
			}
		}
	}
	.step-main-1 {
		border-bottom: 1px solid #661d28;
		color: #661d28;
		font-weight: 400;
		padding-bottom: 10px;
		margin-bottom: 20px;
		.step-title {
			border-bottom: none;
			color: #661d28;
			font-weight: 400;
			margin-bottom: 0;
			padding-bottom: 0;
		}
		.step-text-1 {
		  	font-size: 16px;
		  	color: #777;
		}
	}
}
.opc-progress-bar-item._active::before {
	background: #661d28;
	border-color: #661d28;
}
.opc-progress-bar-item._active > span::before {
	background: #661d28;
	border-color: #661d28;
}
.opc-progress-bar-item._active > span::after {
	border-color: #661d28;
}
.opc-progress-bar-item._complete > span {
	color: #333333;
	font-weight: 600;
}